<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="banner">
        <a href="https://alert.fidotabby.com" target="_blank">
          <%= image_tag 'fido-alert-frame.png', alt: 'Fido Alert', class: 'img-fluid' %>
        </a>
      </div>
    </div>
  </div>
</div>