html, body {
    height: 100%; /* Full height for body */
    margin: 0; /* Remove default margins */
    font-family: 'Roboto', sans-serif;
}

.title {
    font-family: "Suez One", serif;
    font-weight: 400;
    font-style: normal;
}
.title-paragraph{
    font-size: 20px;
    line-height: 28.13px;
}

.bigger-title{
    font-size: 64px;
    font-weight: 83.58;
}

.btn-primary{
    border-radius: 8px;
    padding-left: 32px;
    padding-right: 32px;
}

.container-fluid{
    margin-left: 2em;
    margin-right: 2em;
}

.container {
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack elements vertically */
}
.nav-item{
    margin-left:4em
}

.content {
    flex: 1; /* This allows the content to grow and fill space */
}

.footer {
    background-color: #f8f9fa; /* Example footer background color */
    padding: 20px; /* Add padding */
    /* Your existing footer styles can go here */

    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 10px;
    z-index: 100;
    
}

/* Existing CSS remains unchanged */
.flash .alert-primary, .btn-primary, .btn-primary:hover, .btn:disabled{
    background-color: #8320AC;
    border-color: #8320AC;
    color: white;
}

.font-weight-bold {
    color: #8320AC;
    font-weight: bold;
}

.footer-logo, .footer-image, .footer-contact {
    margin-bottom: 20px; /* Adjust spacing as needed */
}

.footer-contact {
    margin-top: 2em;
    margin-left: 14em;
}

.footer-logo img, .footer-image img {
    max-width: 100%; /* Ensure images are responsive */
}

.star-rating .fa-star {
     color: lightgray; /* Unchecked stars */
 }
.star-rating .fa-star.checked {
    color: gold; /* Checked stars */
    font-size: 32px;
}

.fa-paw {
    color: lightgray; /* Unchecked stars */
    font-size: 32px;
}

.star-rating p{
    font-size:24px;
}
.card-closest-sitters{
    border-radius: 24px;
    padding: 16px;
    gap: 8px;
    background-color: #DFFFFA;
    height: 100%;
    border: none;
}

.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    align-content: center;
}

.pet-card {
    background-color: #3620AB;
    padding-top: 16px;
    padding-right:24px;
    padding-bottom: 16px;
    padding-left: 24px;
    border-radius: 24px;
}

.pet-card-img {
    border-width: 6px;
    border-color: #DFFFFA
}

.pet-card-body{
    color: white;
}

.badge{
    border-radius: 100px;
    padding: 4px;
    gap: 4px;
    width: 82px;
    height: 40px;
    background-color: #1A029A !important;
    align-content: center;
    margin: .3em;
}

.list-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
}

.centralized-row {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
/* style related to the explore all  */

.explore-all-list-item {
    margin-top: 20px;
    border-radius: 20px !important;
    background-color: #F2F2F2;
    border: none;
    min-height: 120px;
    display: flex !important;
    align-items: center !important;
    width: auto;
}

/* style related to the nearest cards */

.nearest-card {
    background-color: #DFFFFA;
    color: #333333;
    border-radius: 20px;
    padding: 20px;
    border:none;
}

/* style related to the month cards */

.month-card {
    background-color: #3620AB;
    color: white;
    border-radius: 20px;
}

.month-card-header {
    padding: 20px;
    border-bottom: none;
}

.month-card-body {
    padding: 10px;
}

.month-card-footer {
    border-top: none;
    display: flex;
    justify-content: flex-end; 
}

.card-title-wrapper {
    padding-top:30px;
}

.section-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

.verticaly-centered {
    display: flex;
    align-items: center !important;
}

.flex-end {
    display: flex;
    justify-content: flex-end; 
}